<div class="layerslider" style="width:100%; height: 522px;">

				<!-- - - - - - - - - - - - - - Slide 1 - - - - - - - - - - - - - - - - -->

				<div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

					<img class="ls-bg" src="/mythemes/shopme/images/1900x520_slide1.jpg" alt="">

					<div class="ls-l layer_1" style="left: 200px; top:128px;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack;">
						<div class="ls_layer_bg">
							<span>save up to</span>
							<div class="ls_title">
								<h2>50</h2>
								<div class="title_add">
									<span>%</span>
									<span>off</span>
								</div>
							</div>
							<a href="#" class="button_blue huge_btn">Shop Now!</a>
						</div>
					</div>

				</div>

				<!-- - - - - - - - - - - - - - End of slide 1 - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Slide 2 - - - - - - - - - - - - - - - - -->

				<div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

					<img class="ls-bg" src="/mythemes/shopme/images/1900x520_slide2.jpg" alt="">

					<div class="ls-l layer_6" style="left: 0; top: 185px;" data-ls="durationin: 650; easingin: easeOutBack; delayin: 150;">
						Create a Productive Environment <br> With Our Collection
					</div>

					<a href="#" class="ls-l button_blue huge_btn" style="left: 50%; top: 347px;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack; delayin: 450; ">Find Out More</a>

				</div>

				<!-- - - - - - - - - - - - - - End of slide 2 - - - - - - - - - - - - - - - - -->

				<!-- - - - - - - - - - - - - - Slide 3 - - - - - - - - - - - - - - - - -->

				<div class="ls-slide" data-ls="transition2d: 10, 27, 63, 67, 69;">

					<img class="ls-bg" src="/mythemes/shopme/images/1900x520_slide3.jpg" alt="">

					<div class="ls-l layer_1" style="left: 738px; top:150px;" data-ls="offsetxin: -60; durationin: 650; easingin: easeOutBack;">
						<div class="ls_layer_bg style_2">
							<span>up to</span>
							<div class="ls_title"><h3>20% OFF</h3></div>
							<span class="sp_type_2">on Selected Beds</span>
							<a href="#" class="button_blue huge_btn">Shop Now!</a>
						</div>
					</div>

				</div>

				<!-- - - - - - - - - - - - - - End of slide 3 - - - - - - - - - - - - - - - - -->

			</div><!--/ #layerslider-->