<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebCourse</title>
	<!-- bootstrap CSS -->
	<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<h1>Hello, Bootstrap demo</h1>
	<i class="fa fa-camera-retro fa-3x"></i>
	<i class="fa fa-camera-retro fa-5x fa-spin"></i>
	<i class="fa fa-spinner fa-5x"></i>
	<i class="fa fa-bath fa-5x fa-spin"></i>
	<i class="fa fa-shower fa-5x fa-spin"></i>
	<i class="fa fa-plane fa-5x fa-spin"></i>
	
	<button type="button" class="btn btn-default">button-default</button>
	

<!-- bootstrap js -->
<script src="bootstrap-3.3.5-dist/js/jquery.min.js"></script>
<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="iceking-utils-jquery.js"></script>
<script src="sweetalert.min.js"></script>
<script src="t2.js"></script>
</body>
</html>
