<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>WebCourse</title>
	<!-- bootstrap CSS -->
	<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<form id="form_search" class="form-inline" role="form" method="post" action="/ztest_list_wb">
			  <div class="form-group">
				<label>关键字</label>
				<input type="text" class="form-control" name="kw" 
				placeholder="请输入名称" value="{{dm.kw}}">
			  </div>
			 
			  <button type="button" class="btn btn-default" onclick="search()">查询</button>
			  <input type="hidden" name="page" value="{{dm.page}}">
			  <input type="hidden" name="pagesize" value="{{dm.pagesize}}">
			</form>
			
		</div>      
	</div>
	
   <div class="row">
 
      <div class="col-md-6 col-lg-4"  style="background-color: #dedef8; 
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         <p>11
		 {% if dm.total>0 %}
		 <table class="table table-striped">
		   <caption>数据库中ztest表</caption>
		   <thead>
			 <tr>
			   <th>编号</th>
			   <th>名字</th>
			   <th>年龄</th>
			   <th>工资</th>
			 </tr>
		   </thead>
		   <tbody>
			{% for row in dm.rows %}
			 <tr>
			   <td>{{row[0]}}</td>
			   <td>{{row[1]}}</td>
			   <td>{{row[2]}}</td>
			   <td>{{row[3]}}</td>
			 </tr>
			{% endfor %}
		   </tbody>
		 </table>

		<!-- 翻页，靠右，必须有页码的时候 -->
		<ul class="pagination">
			<li><a href="javascript:;" onclick="changePage(1)">&laquo;</a></li>
			{% for pageno in dm.pagenumbers %}
			<li ><a href="javascript:;"  onclick="changePage({{pageno}})">{{pageno}}</a></li>
			{% endfor %}
			<li><a href="javascript:;" onclick="changePage(dm.totalpage)">&raquo;</a></li>
		</ul>
		
		{% else %}
		<h3> 查询无结果 </h3>
		{% endif %}
         </p>
      </div>
 
      <div class="col-md-6 col-lg-8" style="background-color: #dedef8;
         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         <p>12
         </p>
 
		</div>
	</div>
	</div>
	

<!-- bootstrap js -->
<script src="bootstrap-3.3.5-dist/js/jquery.min.js"></script>
<script src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="iceking-utils-jquery.js"></script>
<script src="sweetalert.min.js"></script>
<!-- <script src="t2.js"></script> -->
	<script>
      jqu.loadJs('/js/ztest_list_wb.js');
    </script>
</body>
</html>
