        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li style="padding: 10px 0 0;">
                        <a href="/admin" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i><span class="hide-menu">统计汇总</span></a>
                    </li>
					{# 管理员列表模块，只有超级管理员可以操作 #}
					{% if login_admin['type']==9 %}
                    <li>
                        <a href="/admin/tadmin_page.do" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i><span class="hide-menu">管理员</span></a>
                    </li>
					{% endif %}
                    <li>
                        <a href="/main_ljf/ztest_list_ljf" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">excel</span></a>
                    </li>
                    <li>
                        <a href="/product" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i><span class="hide-menu">商品信息</span></a>
                    </li>
                    <li>
                        <a href="/dayspecial" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i><span class="hide-menu">每日特价</span></a>
                    </li>
					<li>
                        <a href="/idol" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i><span class="hide-menu">idol</span></a>
                    </li>
                    <li>
                        <a href="/newarrival" class="waves-effect"><i class="fa fa-columns fa-fw" aria-hidden="true"></i><span class="hide-menu">最新推荐</span></a>
                    </li>
                    <li>
                        <a href="javascript:;" class="waves-effect"><i class="fa fa-info-circle fa-fw" aria-hidden="true"></i><span class="hide-menu">Error 404</span></a>
                    </li>
                </ul>
                <div class="center p-20">
                    <span class="hide-menu"><a href="http://wrappixel.com/templates/pixeladmin/" target="_blank" class="btn btn-danger btn-block btn-rounded waves-effect waves-light">Upgrade to Pro</a></span>
                </div>
            </div>
        </div>
