{# 继承 shopme_basic.html 基本模板 #}
{% extends 'shopme_basic.html' %}

{% block my_body %}
<div class="container">

					<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

					<ul class="breadcrumbs">

						<li><a href="index.html">Home</a></li>
						<li>My Orders</li>

					</ul>

					<!-- - - - - - - - - - - - - - End of breadcrumbs - - - - - - - - - - - - - - - - -->

					<div class="row">

						<aside class="col-md-3 col-sm-4">

							<!-- - - - - - - - - - - - - - Information - - - - - - - - - - - - - - - - -->

							<section class="section_offset">

								<h3>My Account</h3>

								<ul class="theme_menu">

									<li><a href="#">Account Dashboard</a></li>
									<li><a href="#">Account Information</a></li>
									<li><a href="#">Address Book</a></li>
									<li><a href="#">My Orders</a></li>
									<li><a href="#">Billing Agreements</a></li>
									<li><a href="#">Recurring Profiles</a></li>
									<li><a href="#">My Product Reviews</a></li>
									<li><a href="#">My Tags</a></li>
									<li><a href="#">My Wishlist</a></li>
									<li><a href="#">My Applications</a></li>
									<li><a href="#">Newsletter Subscriptions</a></li>
									<li><a href="#">My Downloadable Products</a></li>

								</ul>

							</section><!--/ .section_offset -->

							<!-- - - - - - - - - - - - - - End of information - - - - - - - - - - - - - - - - -->

							<!-- - - - - - - - - - - - - - Banner - - - - - - - - - - - - - - - - -->

							<div class="section_offset">

								<a href="#" class="banner">
									
									<img src="images/banner_img_10.png" alt="">

								</a>

							</div>

							<!-- - - - - - - - - - - - - - End of banner - - - - - - - - - - - - - - - - -->

						</aside><!--/ [col]-->

						<main class="col-md-9 col-sm-8">

							<h1>My Orders</h1>

							<header class="top_box on_the_sides">

								<div class="left_side v_centered">

									<p class="visible_pages">Showing 1 to 10 of 30 (3 pages)</p>

									<span>Show:</span> 

									<div class="custom_select">

										<select name="">

											<option value="10">10</option>
											<option value="9">9</option>
											<option value="8">8</option>
											<option value="7">7</option>
											<option value="6">6</option>
											<option value="5">5</option>
											<option value="4">4</option>
											<option value="3">3</option>
											<option value="2">2</option>
											<option value="1">1</option>

										</select>

									</div>

								</div>

								<div class="right_side">
								
									<ul class="pags">

										<li><a href="#"></a></li>
										<li class="active"><a href="#">1</a></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#"></a></li>

									</ul>

								</div>

							</header><!--/ .top_box -->

							<div class="table_wrap">

								<table class="table_type_1 orders_table">

									<thead>

										<tr>
											
											<th class="order_number_col">Order Number</th>
											<th>Order Date</th>
											<th class="ship_col">Ship To</th>
											<th>Order Status</th>
											<th class="order_total_col">Total</th>
											<th class="product_action_col">Action</th>

										</tr>

									</thead>

									<tbody>

										<tr>
											
											<td data-title="Order Number"><a href="#">145000007</a></td>

											<td data-title="Order Date">9/5/2014</td>

											<td data-title="Ship To">John Doe</td>

											<td data-title="Order Status">Pending</td>

											<td data-title="Total" class="total">$5.99</td>

											<td data-title="Action">
												
												<ul class="buttons_col">

													<li>
														
														<a href="#" class="button_grey">View Order</a>

													</li>

													<li>
														
														<a href="#" class="button_grey">Reorder</a>

													</li>

												</ul>

											</td>

										</tr>

										<tr>
											
											<td data-title="Order Number"><a href="#">145000007</a></td>

											<td data-title="Order Date">9/5/2014</td>

											<td data-title="Ship To">John Doe</td>

											<td data-title="Order Status">Pending</td>

											<td data-title="Total" class="total">$5.99</td>

											<td data-title="Action">
												
												<ul class="buttons_col">

													<li>
														
														<a href="#" class="button_grey">View Order</a>

													</li>

													<li>
														
														<a href="#" class="button_grey">Reorder</a>

													</li>

												</ul>

											</td>

										</tr>

										<tr>
											
											<td data-title="Order Number"><a href="#">145000007</a></td>

											<td data-title="Order Date">9/5/2014</td>

											<td data-title="Ship To">John Doe</td>

											<td data-title="Order Status">Pending</td>

											<td data-title="Total" class="total">$5.99</td>

											<td data-title="Action">
												
												<ul class="buttons_col">

													<li>
														
														<a href="#" class="button_grey">View Order</a>

													</li>

													<li>
														
														<a href="#" class="button_grey">Reorder</a>

													</li>

												</ul>

											</td>

										</tr>

										<tr>
											
											<td data-title="Order Number"><a href="#">145000007</a></td>

											<td data-title="Order Date">9/5/2014</td>

											<td data-title="Ship To">John Doe</td>

											<td data-title="Order Status">Pending</td>

											<td data-title="Total" class="total">$5.99</td>

											<td data-title="Action">
												
												<ul class="buttons_col">

													<li>
														
														<a href="#" class="button_grey">View Order</a>

													</li>

													<li>
														
														<a href="#" class="button_grey">Reorder</a>

													</li>

												</ul>

											</td>

										</tr>

										<tr>
											
											<td data-title="Order Number"><a href="#">145000007</a></td>

											<td data-title="Order Date">9/5/2014</td>

											<td data-title="Ship To">John Doe</td>

											<td data-title="Order Status">Pending</td>

											<td data-title="Total" class="total">$5.99</td>

											<td data-title="Action">
												
												<ul class="buttons_col">

													<li>
														
														<a href="#" class="button_grey">View Order</a>

													</li>

													<li>
														
														<a href="#" class="button_grey">Reorder</a>

													</li>

												</ul>

											</td>

										</tr>

									</tbody>

								</table>

							</div>

							<footer class="bottom_box">

								<a href="#" class="button_grey middle_btn">Back</a>

							</footer><!--/ .bottom_box -->

						</main><!--/ [col]-->

					</div><!--/ .row-->

				</div><!--/ .container-->
				
{% endblock %}